#alumnos{
	position: absolute;
    left: 50%;
    top: 1px;
    background: #1dc1d2;
}

#formulario{
	background: #1dc1d2;
	width: 409px;
}

span{
	color: black;
	visibility: hidden;
	font-size: 16px;
}